# ignore all the files.
#*.o
#*.exe
#*.cbp
#*.depend
#*.layout
#*.swp
*

!*/
!*/*.cpp
!*/*/*.cpp
!*/*/*/*.cpp
!*/*/*/*/*.cpp

!*/*.h
!*/*/*.h
!*/*/*/*.h
!*/*/*/*/*.h

!*/*.md
!*/*/*.md
!*/*/*/*.md
!*/*/*/*/*.md

!*/makefile*
!*/*/makefile*
!*/*/*/makefile*
!*/*/*/*/makefile*

!.gitignore
!*.md
